<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../styles/level1.css">
  <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
</head>
<body>
  <div class="container1">
    <div class="wire1">1</div>
    <div class="wire2">2</div>
    <div class="wire3">3</div>   
  </div>

  <div class="container2">
    <div class="hint1-outer">
      <div class="hint1-title">HINT 1</div>
      <div class="hint1-text"> Cut all odd wires.</div>
    </div>
    <div class="hint2-outer">
      <div class="hint2-title">HINT 2</div>
      <div class="hint2-text"> Don't cut red wires even if another hint says that you should.</div>
    </div>
    <div class="hint3-outer">
      <div class="hint3-title">HINT 3</div>
      <div class="hint3-text">When hint 1 said "odd" it meant "even".</div>
    </div> 
  </div>
<script src="../scripts/level1.js" type="text/javascript" charset="utf-8" async defer></script> 
</body>
</html>