<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../styles/level1.css">
  <script src='http://code.jquery.com/jquery-3.2.1.min.js'></script>
</head>
<body>
  <div class="dynomite"></div>
  <div class="container1">
    <div class="wire1 color1">1</div>
    <div class="wire2 color2 ">2</div>
    <div class="wire3 color3">3</div>   
  </div>

  <div class="container2">
    <div class="hint1-outer">
      <div class="hint1-title">HINT 1</div>
      <div class="hint1-text"> </div>
    </div>
    <div class="hint2-outer">
      <div class="hint2-title">HINT 2</div>
      <div class="hint2-text"></div>
    </div>
    <div class="hint3-outer">
      <div class="hint3-title">HINT 3</div>
      <div class="hint3-text"></div>
    </div> 
  </div>

  <div class="modal-container">
    <div class="modal-content">
      <div class="modal-gif">
      <!-- <img  width="1360" height="700" src="https://media.giphy.com/media/g2YdApKEna2sg/giphy.gif"> -->
      </div>
      
      <div class="modal-text"><p>Err...that didn't go so well. You're dead, but good luck next time.</p></div>
      
      <div><button class="restart">Restart</button>
      <button class="quit">quit</button>
      </div>
    
  </div>
</div>
<script src="../scripts/level1.js" type="text/javascript" charset="utf-8" async defer></script> 
</body>
</html>